// app global css

@import '~variables'

@font-face
  font-family alenviTextFont
  src url(../assets/fonts/FRABK.ttf)

@font-face
  font-family alenviTitleFont
  src url(../assets/fonts/DaxRegular.ttf)

body
  font-family: alenviTextFont
  color: $tertiary

h1, h2, h3, h4, h5, h6
  font-family: alenviTitleFont
  color: $tertiary

h1
  font-size: 2.8em
  @media (max-width: 400px)
    font-size: 2em

h2, h4
  font-size: 1.5em
  @media (max-width: 400px)
    font-size: 1.4em

p
  font-size: 16px

a
  text-decoration: none

.btn-call
  color: $white

.bg-primary-dimmed
  background: rgba(226, 0, 122, .9) !important
